[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
	branch = master
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	branch = master
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	branch = master
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "bundle/airline-themes"]
	path = bundle/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
	branch = master
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
	branch = master
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = https://github.com/micha/wombat256.git
	branch = master
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
	branch = master
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
	branch = master
[submodule "bundle/grammarous"]
	path = bundle/grammarous
	url = https://github.com/rhysd/vim-grammarous.git
	branch = master
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "bundle/coloresque"]
	path = bundle/coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
	branch = master
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
	branch = master
[submodule "bundle/nodejs-complete"]
	path = bundle/nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
	branch = master
[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
	branch = master
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
	branch = master
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "bundle/tmux-focus-events"]
	path = bundle/tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
	branch = master
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
	branch = master
[submodule "bundle/operator-user"]
	path = bundle/operator-user
	url = https://github.com/kana/vim-operator-user.git
	branch = master
[submodule "bundle/clang-format"]
	path = bundle/clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	branch = master
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
	branch = master
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/benekastah/neomake.git
	branch = master
[submodule "bundle/vim-clang"]
	path = bundle/vim-clang
	url = https://github.com/justmao945/vim-clang.git
	branch = master
[submodule "bundle/javacomplete2"]
	path = bundle/javacomplete2
	url = https://github.com/artur-shaik/vim-javacomplete2.git
	branch = master
[submodule "bundle/Nvim-R"]
	path = bundle/Nvim-R
	url = https://github.com/jalvesaq/Nvim-R.git
	branch = master
[submodule "bundle/editorconfig"]
	path = bundle/editorconfig
	url = https://github.com/editorconfig/editorconfig-vim.git
	branch = master
[submodule "bundle/rhubarb"]
	path = bundle/rhubarb
	url = https://github.com/tpope/vim-rhubarb.git
	branch = master
[submodule "bundle/go"]
	path = bundle/go
	url = https://github.com/fatih/vim-go.git
	branch = master
[submodule "bundle/slimv"]
	path = bundle/slimv
	url = https://github.com/kovisoft/slimv.git
	branch = master
[submodule "bundle/AnsiEsc"]
	path = bundle/AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
	branch = master
[submodule "bundle/gist"]
	path = bundle/gist
	url = https://github.com/mattn/gist-vim.git
	branch = master
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
	branch = master
[submodule "bundle/easy-align"]
	path = bundle/easy-align
	url = https://github.com/junegunn/vim-easy-align.git
	branch = master
[submodule "bundle/dirvish"]
	path = bundle/dirvish
	url = https://github.com/justinmk/vim-dirvish.git
	branch = master
[submodule "bundle/rtags"]
	path = bundle/rtags
	url = https://github.com/lyuts/vim-rtags.git
	branch = master
[submodule "bundle/ref"]
	path = bundle/ref
	url = https://github.com/thinca/vim-ref.git
	branch = master
[submodule "bundle/elixir"]
	path = bundle/elixir
	url = https://github.com/awetzel/elixir.nvim.git
	branch = master
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
	branch = master
[submodule "bundle/racer"]
	path = bundle/racer
	url = https://github.com/racer-rust/vim-racer.git
	branch = master
[submodule "bundle/neco-ghc"]
	path = bundle/neco-ghc
	url = https://github.com/eagletmt/neco-ghc.git
	branch = master
[submodule "bundle/deoplete"]
	path = bundle/deoplete
	url = https://github.com/Shougo/deoplete.nvim.git
	branch = master
[submodule "bundle/hoogle"]
	path = bundle/hoogle
	url = https://github.com/Twinside/vim-hoogle.git
	branch = master
[submodule "bundle/hlint-refactor"]
	path = bundle/hlint-refactor
	url = https://github.com/mpickering/hlint-refactor-vim.git
	branch = master
[submodule "bundle/omnisharp"]
	path = bundle/omnisharp
	url = https://github.com/OmniSharp/omnisharp-vim.git
	branch = master
[submodule "bundle/vifm"]
	path = bundle/vifm
	url = https://github.com/vifm/neovim-vifm.git
	branch = master
[submodule "bundle/startify"]
	path = bundle/startify
	url = https://github.com/mhinz/vim-startify.git
	branch = master
[submodule "bundle/onedark.vim"]
	path = bundle/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
	branch = master
[submodule "bundle/ctrlp2"]
	path = bundle/ctrlp2
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky.git
	branch = master
[submodule "bundle/ctrlp-extensions"]
	path = bundle/ctrlp-extensions
	url = https://github.com/sgur/ctrlp-extensions.vim.git
	branch = master
