[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim.git
	branch = master
[submodule "bundle/AutoTag"]
	path = bundle/AutoTag
	url = https://github.com/akuendig/AutoTag.git
	branch = master
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	branch = master
[submodule "bundle/emmet"]
	path = bundle/emmet
	url = https://github.com/mattn/emmet-vim.git
	branch = master
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/Shougo/javacomplete.git
	branch = master
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
	branch = master
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	branch = master
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	branch = master
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
	branch = master
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/spf13/snipmate-snippets.git
	branch = master
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	branch = master
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
	branch = master
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
	branch = master
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "bundle/multiple-cursors"]
	path = bundle/multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
	branch = master
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "bundle/webapi"]
	path = bundle/webapi
	url = https://github.com/mattn/webapi-vim.git
	branch = master
[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = https://github.com/micha/wombat256.git
	branch = master
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	branch = master
[submodule "bundle/git"]
	path = bundle/git
	url = https://github.com/tpope/vim-git.git
	branch = master
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule "bundle/merginal"]
	path = bundle/merginal
	url = https://github.com/vim-scripts/Merginal.git
	branch = master
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
	branch = master
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
	branch = master
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
	branch = master
[submodule "bundle/dispatch"]
	path = bundle/dispatch
	url = https://github.com/tpope/vim-dispatch.git
	branch = master
[submodule "bundle/column-textobj"]
	path = bundle/column-textobj
	url = https://github.com/coderifous/textobj-word-column.vim.git
	branch = master
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/tsaleh/vim-align.git
	branch = master
[submodule "bundle/yankstack"]
	path = bundle/yankstack
	url = https://github.com/maxbrunsfeld/vim-yankstack.git
	branch = master
[submodule "R-plugin"]
	path = bundle/R-plugin
	url = https://github.com/jcfaria/Vim-R-plugin.git
	branch = master
[submodule "bundle/grammarous"]
	path = bundle/grammarous
	url = https://github.com/rhysd/vim-grammarous.git
	branch = master
[submodule "bundle/vim-arduino"]
	path = bundle/arduino
	url = https://github.com/minijackson/vim-arduino.git
	branch = master
[submodule "bundle/splitjoin"]
	path = bundle/splitjoin
	url = https://github.com/AndrewRadev/splitjoin.vim.git
	branch = master
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "bundle/coloresque"]
	path = bundle/coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
	branch = master
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
	branch = master
[submodule "bundle/nodejs-complete"]
	path = bundle/nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
	branch = master
[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
	branch = master
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
	branch = master
[submodule "bundle/boxdraw"]
	path = bundle/boxdraw
	url = https://github.com/vim-scripts/boxdraw.git
	branch = master
[submodule "bundle/r-runtime"]
	path = bundle/r-runtime
	url = https://github.com/jalvesaq/R-Vim-runtime.git
	branch = master
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "bundle/tmux-focus-events"]
	path = bundle/tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
	branch = master
[submodule "bundle/clang"]
	path = bundle/clang
	url = https://github.com/justmao945/vim-clang
	branch = master
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
