[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
	branch = master
[submodule "bundle/javacomplete"]
	path = bundle/javacomplete
	url = https://github.com/Shougo/javacomplete.git
	branch = master
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
	branch = master
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
	branch = master
[submodule "bundle/molokai"]
	path = bundle/molokai
	url = https://github.com/tomasr/molokai.git
	branch = master
[submodule "bundle/airline"]
	path = bundle/airline
	url = https://github.com/bling/vim-airline.git
	branch = master
[submodule "bundle/exchange"]
	path = bundle/exchange
	url = https://github.com/tommcdo/vim-exchange.git
	branch = master
[submodule "bundle/gitgutter"]
	path = bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	branch = master
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "bundle/wombat256"]
	path = bundle/wombat256
	url = https://github.com/micha/wombat256.git
	branch = master
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
	branch = master
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree.git
	branch = master
[submodule "bundle/jellybeans"]
	path = bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
	branch = master
[submodule "bundle/CamelCaseMotion"]
	path = bundle/CamelCaseMotion
	url = https://github.com/bkad/CamelCaseMotion.git
	branch = master
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/tsaleh/vim-align.git
	branch = master
[submodule "bundle/grammarous"]
	path = bundle/grammarous
	url = https://github.com/rhysd/vim-grammarous.git
	branch = master
[submodule "bundle/polyglot"]
	path = bundle/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
	branch = master
[submodule "bundle/coloresque"]
	path = bundle/coloresque
	url = https://github.com/gorodinskiy/vim-coloresque.git
	branch = master
[submodule "bundle/SyntaxRange"]
	path = bundle/SyntaxRange
	url = https://github.com/vim-scripts/SyntaxRange.git
	branch = master
[submodule "bundle/nodejs-complete"]
	path = bundle/nodejs-complete
	url = https://github.com/myhere/vim-nodejs-complete.git
	branch = master
[submodule "bundle/node"]
	path = bundle/node
	url = https://github.com/moll/vim-node.git
	branch = master
[submodule "bundle/csv"]
	path = bundle/csv
	url = https://github.com/chrisbra/csv.vim.git
	branch = master
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
	branch = master
[submodule "bundle/tmux-focus-events"]
	path = bundle/tmux-focus-events
	url = git://github.com/tmux-plugins/vim-tmux-focus-events.git
	branch = master
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
	branch = master
[submodule "bundle/operator-user"]
	path = bundle/operator-user
	url = https://github.com/kana/vim-operator-user.git
	branch = master
[submodule "bundle/clang-format"]
	path = bundle/clang-format
	url = https://github.com/rhysd/vim-clang-format.git
	branch = master
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/neomake"]
	path = bundle/neomake
	url = https://github.com/benekastah/neomake.git
